@font-face {
    font-family: 'Montserrat-regular';
    src: url(fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat-bold';
    src: url(fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'Montserrat-light';
    src: url(fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: 'Montserrat-semibold';
    src: url(fonts/Montserrat-SemiBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    max-width: 1920px;
    margin: 0 auto;
    display: block;
}

#header {
    width: 100%;
    height: 115px;
    background: #2D0A49;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ssilka {
    width: 30%;
}

.test-0-logo {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    width: 50%;
    height: 100px;
    background-image: url(img/logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 43.5px;
}

.logo_name {
    font-family: 'Montserrat-bold';
    font-size: 3rem;
    color: white;
}

nav {
    width: 60%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.test-0-nav-1,
.test-0-nav-2,
.test-0-nav-3,
.test-0-nav-4 {
    font-family: 'Montserrat-bold';
    font-size: 1.5rem;
    color: white;
}

.registration {
    width: 100%;
    height: 1200px;
    background: linear-gradient(131deg, rgba(68, 0, 122, 0.52) 0.96%, rgba(75, 0, 134, 0.52) 19.58%, rgba(79, 19, 126, 0.24) 87.02%, rgba(45, 10, 73, 0.10) 100%);
}

.title {
    width: 100%;
    font-family: 'Montserrat-bold';
    font-size: 3rem;
    padding: 5%;
    color: white;
    text-align: center;
}

.reg_main {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title_form {
    font-family: 'Montserrat-regular';
    font-size: 1.5rem;
    color: white;
    padding: 1%;
}

.input {
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 80px;
    outline: none;
    border-radius: 15px;
    padding: 5%;
    font-family: 'Montserrat-bold';
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    border: none;
}

.button_register {
    margin: 2%;
    width: 100%;
    height: 80px;
}

.test-2-btn {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: #41205B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat-bold';
    font-size: 1.25rem;
    color: white;
}

#footer {
    width: 100%;
    height: 430px;
    background: #2D0A49;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title_footer {
    font-family: 'Montserrat-bold';
    font-size: 2.75rem;
    text-align: center;
    color: white;
}

.test-0-phone {
    font-family: 'Montserrat-bold';
    font-size: 3rem;
    text-align: center;
    color: white;
    padding: 4%;
}

.menu {
    font-family: 'Montserrat-bold';
    font-size: 1.75rem;
    text-align: center;
    color: white;
}

#footer nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%;
}